@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mina-regular {
  font-family: "Mina", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.mina-bold {
  font-family: "Mina", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: "14px";
  font-style: normal;
  font-variation-settings: "slnt" 0;
}